 .u-section-1 {
   background-image: none;
 }

 .u-section-1 .u-sheet-1 {
   min-height: 671px;
 }

 .u-section-1 .u-text-1 {
   font-weight: 700;
   margin: 68px auto 0;
 }

 .u-section-1 .u-form-1 {
   height: 457px;
   margin: 16px 271px 0 299px;
 }

 .u-section-1 .u-form-group-2 {
   margin-left: 0;
 }

 .u-section-1 .u-form-group-3 {
   margin-left: 0;
 }

 .u-section-1 .u-btn-1 {
   background-image: none;
   font-size: 1.875rem;
 }

 .u-section-1 .u-btn-2 {
   border-style: none none solid;
   font-size: 1.25rem;
   margin: 45px auto 60px;
   padding: 0;
 }

 @media (max-width: 1199px) {
   .u-section-1 .u-text-1 {
     margin-top: 60px;
   }

   .u-section-1 .u-form-1 {
     width: 570px;
     margin-top: 23px;
     margin-right: 171px;
     margin-left: 199px;
   }

   .u-section-1 .u-btn-2 {
     margin-top: 60px;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 .u-form-1 {
     margin-top: 20px;
     margin-right: 61px;
     margin-left: 89px;
   }

   .u-section-1 .u-btn-2 {
     margin-top: 61px;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 .u-text-1 {
     margin-top: 113px;
   }

   .u-section-1 .u-form-1 {
     width: 540px;
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-1 .u-btn-2 {
     margin-top: 64px;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 .u-text-1 {
     margin-top: 172px;
   }

   .u-section-1 .u-form-1 {
     width: 340px;
   }

   .u-section-1 .u-btn-2 {
     font-size: 1rem;
     margin-top: 20px;
   }
 }